= simple_form_for feedback,
                  html: { class: "form-horizontal" },
                  wrapper: :bootstrap3_horizontal do |f|
  .form-inputs.form-horizontal
    = f.association :scheme,
                    input_html: { class: "js-select2" },
                    label_html: { class: "col-sm-2" },
                    right_column_html: { class: "col-sm-3" }
    .form-group
      label.col-sm-2.required.text-right
        abbr title="required"
          ' *
        ' Score
      .radio-collection.col-sm-10
        = f.collection_radio_buttons :score,
                  [[1],[2],[3],[4],[5]], :first, :last,
                  required: true

    = f.input :description,
              input_html: { rows: 5 },
              label_html: { class: "col-sm-2" },
              right_column_html: { class: "col-sm-5" }

    = f.input :approved,
              label: "Approved?",
              label_html: { class: "col-sm-2" },
              right_column_html: { class: "col-sm-3" }

    .form-actions
      .col-sm-offset-2
        = f.button :submit,
                    class: "btn btn-primary",
                    id: "submit_btn",
                    data: { action: "submit" }
