= simple_form_for scheme,
                  html: { class: "horizontal-form" } do |f|
  .form-inputs
    = f.input :confirmed,
              label: "Confirmed by admin?"

    = f.input :logo,
              as: :file,
              input_html: { class: "span5" }

    = f.input :logo_cache, as: :hidden

    = f.input :contact_name
    = f.input :contact_email
    = f.input :contact_phone
    = f.input :name
    = f.input :website
    = f.input :description,
              input_html: { rows: 5 }

    //= f.input :had_direct_interactions,
              label: "Should have engaged with schools before?"

    = f.input :location_ids,
              as: :grouped_select,
              group_method: :last,
              label: 'Locations',
              collection: Location.collection,
              required: true,
              input_html: { class: "span6 js-select2", multiple: true }

    = f.input :sector_ids,
              as: :multi_select,
              label: 'Sectors',
              collection: Sector.collection,
              required: true,
              input_html: { class: "span6" }

    = f.input :commitment_length_ids,
              as: :multi_select,
              label: 'Commitment length',
              collection: CommitmentLength.collection,
              label: "Length of commitment",
              required: true,
              input_html: { class: "span6" }

    = f.input :activity_ids,
              as: :multi_select,
              collection: Activity.collection,
              label: 'Activities',
              required: true,
              input_html: { class: "span6" }

    = f.input :company_size_ids,
              as: :multi_select,
              collection: CompanySize.collection,
              label: 'Company size',
              required: true,
              input_html: { class: "span6" }

    = f.input :age_range_ids,
              as: :multi_select,
              label: 'Age range',
              collection: AgeRange.collection,
              required: true,
              input_html: { class: "span6" }

  .form-actions
    = f.button :submit,
               class: "btn btn-primary",
               id: "submit_btn",
               data: { action: "submit" }
