tr
  td = image_tag scheme.logo.logo
  td = scheme.name
  td
    = link_to "Show",
              scheme,
              class: "btn btn-sm btn-default",
              data: { action: "show" }
    | &nbsp;
    = link_to "Edit",
              [:edit, scheme],
              class: "btn btn-sm btn-default",
              data: { action: "edit" }
    | &nbsp;
    = link_to "Remove",
              scheme,
              method: :delete,
              class: "btn btn-sm btn-danger",
              data: { action: "delete" }
